<html>
<head>
<title>
  Palo Alto
</title>
<link  href="../styles/form-styles.css"  type='text/css' rel="stylesheet" >
</head>
<body>
<header class="header">
  <span class="header__logo">
  <a class="header__logo-link" href="">
  palo alto
  </a>
</span>
 <nav class="nav">
   <ul class="nav__menu-ul">
     <li>
     <a class="nav__menu-item" href="#">
     <img src="../images/search-black.png" alt="Error" width="100%"> </a> </li>
     <li>
     <a class="nav__menu-item" href="#">contact</a></li>
     <li>
     <a class="nav__menu-item" href="#">archive</a> </li>
     <li>
     <a class="nav__menu-item" href="#">about</a></li>
     <li>
    <a  class="nav__menu-item nav__menu-item_color" href="">home</a></li>
   </ul>
 </nav>
</header>
<main class="main">
  <section class="section">
    <form class="section__form" action="<anything-action>">
      <h4 class="section__form-header"> contact us </h4>
      <p class="section__form-text"> Nam is maximus arcu, ac aliquam tellus. Donec vistibulum ipsum nunc, at placerat ante posuere non,
      Integer at dui a lacus suscipit elementum id non massa. Pellentesgue habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo. </p>
    <hr class="hline">
      <label for="1"></label>
      <input class="section__form-field" id="1"  name="name" placeholder="Your Name">
      <label for="2"></label>
      <input class="section__form-field"id="2" type="email" name="mail" placeholder="Email">
      <label for="3"></label>
      <input class="section__form-field section__form-field_width" id="3"  name="team" placeholder="Subject">
      <p><textarea class="section__form-message" name="message" placeholder="Your Message" ></textarea></p>
      <p class="section__form-text"><input class="section__form-button" type="button" value="SEND MESSAGE"></p>
    </form>
  </section>
</main>
<footer class="footer">
  <a class="footer__logo" href=""> palo alto </a>
  <nav class="footer-nav">
    <ul>
      <li class="footer-nav__menu-ul">
        <a  class="footer-nav__menu-item footer-nav__menu-item_color" href="">HOME  </a> </li>
      <li class="footer-nav__menu-ul">
        <a class="footer-nav__menu-item" href="#">archive</a> </li>
      <li class="footer-nav__menu-ul">
        <a  class="footer-nav__menu-item" href="#">contact</a></li>
      <li class="footer-nav__menu-ul">
      <a class="footer-nav__menu-item" href="#">about</a></li>
      <li class="footer-nav__menu-ul">
      <a class="footer-nav__menu-item" href="#">
        <img src="../images/search.png" alt="Error">
</a></li>
    </ul>
</nav>
     <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio.
Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>

     <span class="footer-rights">
       <p class="footer-rights__text"> © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="footer__team-link" href="#"> PixelBuddha Team </p>
<span class="footer__share">
  <a class="footer__share-icon" href="#">
  <img src="../images/fb.png" alt="Error"> </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/tw.png" alt="Error"> </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/inst.png" alt="Error" > </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/paint.png" alt="Error"> </a>
</span>
</footer>
</html>
