
<html>
<head>
<title>
  Palo Alto
</title>
<link  href="../styles/fourtask.css"  type='text/css' rel="stylesheet" >
</head>
<body>
<header class="header">
  <span class="header__logo">
  <a class="header__logo-link" href="">
  palo alto
  </a>
</span>
 <nav class="nav">
   <ul class="nav__menu-ul">
     <li>
     <a class="nav__menu-item" href="#">
     <img src="../images/search-black.png" alt="Error" width="100%"> </a> </li>
     <li>
     <a class="nav__menu-item" href="#">contact</a></li>
     <li>
     <a class="nav__menu-item" href="#">archive</a> </li>
     <li>
     <a class="nav__menu-item" href="#">about</a></li>
     <li>
    <a  class="nav__menu-item nav__menu-item_color" href="">home</a></li>
   </ul>
 </nav>
</header>
<main class="main">
 <section class="section section__one_margin-top">
   <div class="section__i-do">
   <a class="section__i-do-link" href="#">
   i do travel
   </a> </div>
  <span class="section__date"> sep 20 </span>
   <h1 class="section__header"> No difference how many peaks you reach if there was no pleasure in the climb</h1>
   <hr class="hline">
   <p class="section__text"> Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas.
Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam.
Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet,
pretium et augue.</p>
   <a class="section__link-read" href="#"> READ MORE </a>
   <span class="section__hashtag">
   <a class="section__hashtag-link" href="#"> #yosemite </a>
   <a class="section__hashtag-link" href="#"> #peak </a>
   <a class="section__hashtag-link" href="#"> #explorer </a>
 </span>
  </section>
  <div class="main__img">
  <img src="../images/photo1.jpg" alt="Error" width="100%">
  </div>
  <section class="section">
    <div class="section__i-do">
    <a class="section__i-do-link" href="#">
    i do observe
    </a> </div>
   <span class="section__date"> sep 18 </span>
   <h1 class="section__header">You know, I'd rather argue with you, then laugh with anyone else</h1>
      <hr class="hline">
   <p class="section__text-italic"> Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit,
vulputate lacus.Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus.
Proin aliquet ex massa, ac finibus magna commodo vitae. </p>
   <p class="section__text section__text_margin"> Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue.
Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim
efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
   <p class="section__text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis
eu ullamcorper.Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi.
In varius congue diam, et viverra lorem bibendum ut. </p>
   <a class="section__link-read" href="#"> READ MORE </a>
   <span class="section__hashtag">
      <a class="section__hashtag-link" href="#"> #yosemite </a>
      <a class="section__hashtag-link" href="#"> #peak </a>
      <a class="section__hashtag-link" href="#"> #photo </a>
    </span>
   </section>
   <section class="section">
     <div class="section__i-do">
     <a class="section__i-do-link" href="#">
     i do reflect
     </a> </div>
    <span class="section__date"> sep 11 </span>
    <h1 class="section__header">Democracy means simply the bludgeoning of the people by the people for the people</h1>
       <hr class="hline">
    <img class="section__img"src="../images/photo2.jpg" alt="Error" width="20%">
    <p class="section__text section__text_margin"> Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas
congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit,
vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
    <p class="section__text section__text_margin"> Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur.
Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a class="section__link-text" href="#"> vestibulum malesuada </a> justo aliquet eget.
Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum.
Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend.
Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper.
Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
    <p class="section__text-with-line"> Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
    <p class="section__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio.
Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris,
egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</p>
    <a class="section__link-read"href="#"> READ MORE </a>
     <span class="section__hashtag">
        <a class="section__hashtag-link" href="#"> #democracy </a>
        <a class="section__hashtag-link" href="#"> #introspection </a>
    </section>
</main>
<footer class="footer">
  <a class="footer__logo" href=""> palo alto </a>
  <nav class="footer-nav">
    <ul>
      <li class="footer-nav__menu-ul">
        <a  class="footer-nav__menu-item footer-nav__menu-item_color" href="">HOME  </a> </li>
      <li class="footer-nav__menu-ul">
        <a class="footer-nav__menu-item" href="#">archive</a> </li>
      <li class="footer-nav__menu-ul">
        <a  class="footer-nav__menu-item" href="#">contact</a></li>
      <li class="footer-nav__menu-ul">
      <a class="footer-nav__menu-item" href="#">about</a></li>
      <li class="footer-nav__menu-ul">
      <a class="footer-nav__menu-item" href="#">
        <img src="../images/search.png" alt="Error"> 
</a></li>
    </ul>
</nav>
     <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio.
Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>

     <span class="footer-rights">
       <p class="footer-rights__text"> © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="footer__team-link" href="#"> PixelBuddha Team </p>
<span class="footer__share">
  <a class="footer__share-icon" href="#">
  <img src="../images/fb.png" alt="Error"> </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/tw.png" alt="Error"> </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/inst.png" alt="Error" > </a>
  <a class="footer__share-icon" href="#">
  <img src="../images/paint.png" alt="Error"> </a>
</span>
</footer>
</html>
