body{
  height: 100%;
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: rgba(247, 249, 252, 1);
  }

  .header {
  width: 900px;
  margin-top: 70px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

  }

  .main{
    width: 900px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .header__logo {
  margin-right: 50px;
  font: 24pt Lato;
  }

  .header__logo-link {
  text-decoration: none;
  color: rgb(51, 51, 51);
  text-transform: capitalize;
  font-style: italic;

  }

  .nav__menu-ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .nav__menu-item {
    text-decoration: none;
    color: rgb(51, 51, 51);
    margin-left: 60px;
    font-size: 14pt;
    float: right;
    text-transform: uppercase;
  }

.nav__menu-item :hover {
    border-bottom: 4px solid rgb(92, 107, 192);
  }

  .nav__menu-item :active{
    color: rgb(92, 107, 192);
    border: none;
  }


  .nav__menu-item_color {
    color: rgb(189, 189, 189);
  }

  .section {
    box-shadow: 0 0 10px 2px rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    position: relative;
    top: 20px;
    padding-left: 95px;
    padding-right: 98px;
    padding-top: 50px;
    padding-bottom: 82px;
   }
   .section__i-do {
     padding-left: 10px;
     padding-right: 10px;
     height: 25px;
     line-height: 25px;
     background-color: rgb(92, 107, 192);
     position: absolute;
     right: -12px;
     color: rgb(255, 255, 255);
   }
  .section__i-do-link{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-decoration: none;
  }
.section__i-do:hover {
    height: +10px;
    width: auto;
    padding-top: auto;
    padding-bottom: auto;
    background: rgb(102, 127, 202);

}
  .section__one_margin-top{
    margin-top: 90px;
  }

  .section__date{
    color: rgb(189, 189, 189);
    font: 14px Lato;
  }

  .section__header {
   font: 40px Lato;
   line-height: 50px;
   color: rgb(0,0,0);
  }
  .hline {

   color: rgb(238, 238, 238);
  }

  .section__text {
  color: rgb(131, 131, 131);
  font: 17px Lato;
  line-height: 30px;
  margin-bottom: 60px;
  }

  .section__text_margin {
    line-height: 1.5;
    margin-bottom: 22px:
  }

  .section__text-italic {
    color: rgb(163, 163, 163);
    font-style: italic;
    font: 25px Lato;
    line-height: 38px;
  }

  .section__text-with-line {
    font: 20 px Lato;
    font-style: italic;
    color: rgb(163, 163, 163);
    border-left: 5px solid rgb(238, 238, 238);
    line-height: 30px;
    margin-bottom: 35px;
    border-left: 5px solid rgb(238, 238, 238);
    padding-left: 20px;
  }

  .section__img {
    float: left;
  }

  .section__link-read {
    padding: 10px;
    text-decoration: none;
    font: 21px Lato;
    color: rgb(92, 107, 192);
    text-transform: uppercase;
  }
  .section__link-read:hover {
      border: 1px solid rgb(220, 220, 220);
  }
  .section__link-read:click {
      border: 1px solid rgb(92, 107, 192);
  }
  .section__hashtag {
    position: absolute;
    right: 80px;
  }

   .section__hashtag-link {
    color: rgb(189, 189, 189);
    font: 14px Lato;
    text-decoration: none;
    text-transform: capitalize;
  }

   .section__hashtag-link :hover {
    border-bottom: 2px solid rgb(92, 107, 192);
    color: rgb(92, 107, 192);
   }

   .section__hashtag-link :active {
    color: rgb(92, 107, 192);
    border: none;
   }
  .main__img {
    height: 535px;
    box-shadow: 0 0 10px 2px rgb(200, 200, 200);
  }
  .footer {
    width: 100%;
    background-color: rgb(92, 107, 192);
    text-align: center;
    padding-top: 65px;
    position: absolute;
  }
  .footer__logo {
    color: rgb(79, 92, 166);
    font: 36px Lato;
    line-height: 25px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 65px;
    text-decoration: none;
  }
  .footer-nav{

    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 20px;
    text-align: center;

  }
  .footer-nav__menu-ul{
    list-style-type:none;
    height: 10px;
  }
  .footer-nav__menu-item{
    margin-right: 5px;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 10pt;
    width: 90px;
    height: 30px;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    text-transform: uppercase;
  }
  .footer-nav__menu-item_color{
    color: rgb(164, 171, 217);

  }
  .footer__text {
    width: 756px;
    font: 13px Lato;
    line-height: 23px;
    color: rgb(164, 171, 217);
    padding-top: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    margin-bottom: 45px;
    border-top: 2px solid rgb(87, 101, 181);
    }

  .footer-rights__text {
    width: 700px;
    padding-top: 42px;
    border-top: 2px solid rgb(87, 101, 181);
    line-height: 30px;
    color: rgb(151, 159, 212);
    margin-left: auto;
    margin-right: auto;
    font: 14px Lato;
   }
 .footer__team-link {
  font: 14 px Lato;
  color: rgb(255, 255, 255);
   }

  .footer__share-icon {
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    width: 70%;
    height: 30px;
    line-height: 70px;
    margin-bottom: 75px;
    margin-top: 30px;
  }
